https.protocols: TLSv1.2

server:
  port: 8090
  application:
     name: demoservice

spring:
  jackson:
    default-property-inclusion: non_null
    deserialization:
      FAIL_ON_NUMBERS_FOR_ENUMS: true
      ACCEPT_EMPTY_STRING_AS_NULL_OBJECT: true
      FAIL_ON_UNKNOWN_PROPERTIES: true
  jpa:
     properties:
       hibernate:
         dialect: org.hibernate.dialect.MySQLDialect
         globally_quoted_identifiers: true
  #    properties.hibernate.jdbc.time_zone : UTC
#    show-sql: true
#    hibernate:
#       ddl-auto: validate
#    properties.hibernate.dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
     url: ${datasource.url}
     username: ${datasource.username}
     password: ${datasource.password}
     driverClassName: com.mysql.cj.jdbc.Driver
     hikari:
       maximumPoolSize: 9

mail:
   username: macrologwebapp@gmail.com
   password: ${mailpassword}
   host: smtp.gmail.com
   port: 587

strava:
  client-id: ${strava.id}
  client-secret: ${strava.secret}
  verify-token: ${strava.verifytoken}
  callback-url: $(strava.callbackurl}

google:
  client-id: ${google.client.id}
  client-secret: ${google.client.secret}
  redirect-uri: ${google.redirect.uri}
  application-name: ${google.application.name}

---
spring:
  config:
    activate:
      on-profile: arjan

  datasource:
     url: jdbc:mysql://localhost:3306/test?autoReconnect=true&useSSL=false&serverTimezone=CET
     username: arjan
     password: fhjfgj!3ADD

strava:
  verify-token: uit
  callback-url: http://localhost:9090/webhooks/strava
  client-id: 37498
  client-secret: 0b2f817309329fb716e368b3dbd3614f922f20f80

google:
  client-id: 164533152729-b643nsgk4q03hffifnvd8v8m6rvupk28.apps.googleusercontent.com
  client-secret: uit
  redirect-uri: https://localhost:4200/admin/mail
  application-name: Macrolog-localhost


mail:
   username: doethetniet@gmail.com
   password: 'doethetniet'
---
spring:
  config:
    activate:
      on-profile: carmen

  datasource:
     url: jdbc:mysql://localhost:3306/macrolog_dev?autoReconnect=true&useSSL=false&serverTimezone=CET
     username: macrolog
     password: macrolog01

strava:
  client-id: 37498
  client-secret: 0b2f817309329fb716e368b3dbd3614f922f20f8
  verify-token: uit
  callback-url: http://localhost:9090/webhooks/strava

google:
  client-id: 164533152729-b643nsgk4q03hffifnvd8v8m6rvupk28.apps.googleusercontent.com
  client-secret: uit
  redirect-uri: http://localhost:4200/admin/mail
  application-name: Macrolog-localhost

mail:
   username: doethetniet@gmail.com
   password: 'doethetniet'

---
spring:
  config:
    activate:
      on-profile: test
  datasource:
     url: jdbc:h2:mem:test;DB_CLOSE_DELAY=-1
     username: sa
     password: sa
     driverClassName: org.h2.Driver

  main:
    allow-bean-definition-overriding: true

  h2:
    console:
      enabled: true
#  jpa:
#    show-sql: true

strava:
  client-id: 37498
  client-secret: 0b2f817309329fb716e368b3dbd3614f922f20f8
  verify-token: uit
  callback-url: http://localhost:9090/webhooks/strava

mail:
   username: doethetnietp@gmail.com
   password: 'doethetniet'

google:
  client-id: 164533152729-b643nsgk4q03hffifnvd8v8m6rvupk28.apps.googleusercontent.com
  client-secret: uit
  redirect-uri: http://localhost:4200/admin/mail
  application-name: Macrolog-localhost

#logging:
#  level:
#    org:
#      hibernate:
#        sql: INFO
#        type.descriptor.sql.BasicBinder: TRACE



